huggingface_hub
pandas
scikit-learn
tqdm
langchain
langchain-core
langchain-community
langchain-chroma
langchain-text-splitters
langchain-ollama
langchain-google-genai
python-dotenv
chromadb
rank_bm25
sentence-transformers
ollama
fastapi
uvicorn
pydantic
ragas==0.4.3
rapidfuzz
datasets
